.container {
  /* margin: 40px 0 50px 0; */
  margin-top: 40px;
}
html,body,#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 414px;
}
.gomeImgLoad {
  width: 100%;
  max-width: 750px;
}
